body{
    font-family: 'Open Sans', sans-serif;
}

.banner-container{
    background-color: #cacaca;
}

.banner-column{
    background-color: #8D8D8D;
}

.navbar-container{
    top: 0;
    background-color: #262837;
    position: sticky;
    z-index: 2;
}

.about-container{
    background-color: #008d8d;
}

.education-container{
    background-color: #EEEEEE;
}

.bg-redtype{
    background-color: #f8857f;
}

.bg-redtype :hover{
    color: black !important;
}

.redtype-color{
    color: #f8857f;
}

.circle{
    background-color: #f8857f;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.project-container{
    background-color: #2883dd;
}

.text-d{
    text-decoration: none;
}

.card-color{
   background-color: rgb(235, 212, 212)
}

.Protfolio-color{
    background-color: cornsilk;
}

.form-container{
    background-color: #474D5D;
}

.text-m{
    margin-right: 3px;
}

.inner-form{
    background-color: #585f73;
}

.bn:hover{
    color: black !important;
    background-color: white;
}

.footer{
    background-color: #2bb3dd;
}

.circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
}
